.container{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
    margin: auto;
}

.left-side{
    float: left;
    width: 150px;
    border: 1px solid #292929;
    box-sizing: border-box;
    
}

p{
    font-family: Droid Sans;
    font-weight: normal;
    line-height: 20px;
    text-align: justify;
    font-size: 18px;
    font-style: normal;
    text-align: justify;
    color: #292929;
}

